@import "tailwindcss";
body {
   background-color: transparent;
  margin: 0;
  padding: 0;
}


@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left {
  animation: slide-left 0.8s ease-out forwards;
}
